#include "..\COM\SpeedyAPIXE7\MessageDataFormat.h"

/////////////////////////////////////////////////////////////////////////////
//
// INI
//
/////////////////////////////////////////////////////////////////////////////
IDR_OPT_R010	INI	"RES\OPT_R010.ini"
IDR_OPT_R020	INI	"RES\OPT_R020.ini"
IDR_OPT_C030	INI	"RES\OPT_C030.ini"
IDR_OPT_C030M	INI	"RES\OPT_C030M.ini"
IDR_OPT_C030CR	INI	"RES\OPT_C030CR.ini"
// Quote
IDR_OPT_R070	INI	"RES\OPT_R070.ini"
IDR_OPT_R080	INI	"RES\OPT_R080.ini"
IDR_OPT_R090	INI	"RES\OPT_R090.ini"
IDR_OPT_R100	INI	"RES\OPT_R100.ini"
IDR_OPT_C030QCR	INI	"RES\OPT_C030QCR.ini"
// TSEC
IDR_TSE_T010	INI	"RES\TSE_T010.ini"
IDR_TSE_O010	INI	"RES\TSE_O010.ini"
IDR_TSE_O010EX	INI	"RES\TSE_O010Ex.ini"
IDR_TSE_P010	INI	"RES\TSE_P010.ini"
IDR_TSE_P010EX	INI	"RES\TSE_P010Ex.ini"
IDR_TSE_T020	INI	"RES\TSE_T020.ini"
IDR_TSE_T020EX  INI	"RES\TSE_T020Ex.ini"
IDR_TSE_O020	INI	"RES\TSE_O020.ini"
IDR_TSE_O020EX	INI	"RES\TSE_O020Ex.ini"
IDR_TSE_P020	INI	"RES\TSE_P020.ini"
IDR_TSE_P020EX	INI	"RES\TSE_P020Ex.ini"
IDR_TSE_R030	INI	"RES\TSE_R030.ini"
IDR_TSE_R030EX	INI	"RES\TSE_R030Ex.ini"

IDR_TSE_A010	INI	"RES\TSE_A010.ini"
IDR_TSE_A020	INI	"RES\TSE_A020.ini"
IDR_TSE_V010	INI	"RES\TSE_V010.ini"
IDR_TSE_V020	INI	"RES\TSE_V020.ini"
IDR_TSE_E010	INI	"RES\TSE_E010.ini"
IDR_TSE_E020	INI	"RES\TSE_E020.ini"
IDR_TSE_Ex010	INI	"RES\TSE_Ex010.ini"
IDR_TSE_Ex020	INI	"RES\TSE_Ex020.ini"
IDR_TSE_A010EX	INI	"RES\TSE_A010Ex.ini"
IDR_TSE_A020EX	INI	"RES\TSE_A020Ex.ini"
IDR_TSE_V010EX	INI	"RES\TSE_V010Ex.ini"
IDR_TSE_V020EX	INI	"RES\TSE_V020Ex.ini"
IDR_TSE_E010EX	INI	"RES\TSE_E010Ex.ini"
IDR_TSE_E020EX	INI	"RES\TSE_E020Ex.ini"
IDR_TSE_Ex010EX	INI	"RES\TSE_Ex010Ex.ini"
IDR_TSE_Ex020EX	INI	"RES\TSE_Ex020Ex.ini"
// OTC
IDR_OTC_T010	INI	"RES\OTC_T010.ini"
IDR_OTC_O010	INI	"RES\OTC_O010.ini"
IDR_OTC_O010EX	INI	"RES\OTC_O010Ex.ini"
IDR_OTC_P010	INI	"RES\OTC_P010.ini"
IDR_OTC_P010EX	INI	"RES\OTC_P010Ex.ini"
IDR_OTC_T020	INI	"RES\OTC_T020.ini"
IDR_OTC_T020EX	INI	"RES\OTC_T020Ex.ini"
IDR_OTC_O020	INI	"RES\OTC_O020.ini"
IDR_OTC_O020EX	INI	"RES\OTC_O020Ex.ini"
IDR_OTC_P020	INI	"RES\OTC_P020.ini"
IDR_OTC_P020EX	INI	"RES\OTC_P020Ex.ini"
IDR_OTC_R030	INI	"RES\OTC_R030.ini"
IDR_OTC_R030EX	INI	"RES\OTC_R030Ex.ini"
IDR_OTC_V010	INI	"RES\OTC_V010.ini"
IDR_OTC_V020	INI	"RES\OTC_V020.ini"
IDR_OTC_E010	INI	"RES\OTC_E010.ini"
IDR_OTC_E020	INI	"RES\OTC_E020.ini"
IDR_OTC_Ex010	INI	"RES\OTC_Ex010.ini"
IDR_OTC_Ex020	INI	"RES\OTC_Ex020.ini"
IDR_OTC_V010EX	INI	"RES\OTC_V010Ex.ini"
IDR_OTC_V020EX	INI	"RES\OTC_V020Ex.ini"
IDR_OTC_E010EX	INI	"RES\OTC_E010Ex.ini"
IDR_OTC_E020EX	INI	"RES\OTC_E020Ex.ini"
IDR_OTC_Ex010EX	INI	"RES\OTC_Ex010Ex.ini"
IDR_OTC_Ex020EX	INI	"RES\OTC_Ex020Ex.ini"
// Others
IDR_ERROR_ENG    INI    "RES\TAIFEXErrorEN.ini"
IDR_ERROR_CHT    INI    "RES\TAIFEXErrorCH.ini"
IDR_FUTURES_PROD INI    "RES\FUTSymbol.ini"
IDR_OPTIONS_PROD INI    "RES\OPTSymbol.ini"
IDCHART_ROW_DATA  DATA  "RES\ChartRowData.dat"

