/.idea/
/BC Projects/__history/
/BC Projects/Win32/
/COM/Lib/__history/
/COM/Lib/Win32/Release_Obj/
/MDComponent/MarketDataComponent/__history/
/MDComponent/MarketDataComponent/__recovery/
/MDComponent/MarketDataComponent/Win32/Debug_Obj/
/MDComponent/vcl/Win32/Release_Obj/
/S8Projects/__history/
/S8Projects/__recovery/
/S8Projects/Win32/Debug/
/S8Projects/Win32/Release/