

#include "MessageDataFormat.h"
/////////////////////////////////////////////////////////////////////////////
//
// INI
//

IDR_OPT_R010	INI	"OPT_R010.ini"
IDR_OPT_R020	INI	"OPT_R020.ini"
IDR_OPT_C030	INI	"OPT_C030.ini"
IDR_OPT_C030M	INI	"OPT_C030M.ini"
IDR_OPT_C030CR	INI	"OPT_C030CR.ini"

IDR_OPT_R070	INI	"OPT_R070.ini"
IDR_OPT_R080	INI	"OPT_R080.ini"
IDR_OPT_R090	INI	"OPT_R090.ini"
IDR_OPT_R100	INI	"OPT_R100.ini"
IDR_OPT_C030QCR	INI	"OPT_C030QCR.ini"

IDR_TSE_T010	INI	"TSE_T010.ini"
IDR_TSE_O010	INI	"TSE_O010.ini"
IDR_TSE_P010	INI	"TSE_P010.ini"
IDR_TSE_T020	INI	"TSE_T020.ini"
IDR_TSE_O020	INI	"TSE_O020.ini"
IDR_TSE_P020	INI	"TSE_P020.ini"
IDR_TSE_R030	INI	"TSE_R030.ini"
IDR_TSE_A010	INI	"TSE_A010.ini"
IDR_TSE_A020	INI	"TSE_A020.ini"
IDR_TSE_V010	INI	"TSE_V010.ini"
IDR_TSE_V020	INI	"TSE_V020.ini"
IDR_TSE_E010	INI	"TSE_E010.ini"
IDR_TSE_E020	INI	"TSE_E020.ini"
IDR_TSE_Ex010	INI	"TSE_Ex010.ini"
IDR_TSE_Ex020	INI	"TSE_Ex020.ini"

IDR_OTC_T010	INI	"OTC_T010.ini"
IDR_OTC_O010	INI	"OTC_O010.ini"
IDR_OTC_P010	INI	"OTC_P010.ini"
IDR_OTC_T020	INI	"OTC_T020.ini"
IDR_OTC_O020	INI	"OTC_O020.ini"
IDR_OTC_P020	INI	"OTC_P020.ini"
IDR_OTC_R030	INI	"OTC_R030.ini"
IDR_OTC_V010	INI	"OTC_V010.ini"
IDR_OTC_V020	INI	"OTC_V020.ini"
IDR_OTC_E010	INI	"OTC_E010.ini"
IDR_OTC_E020	INI	"OTC_E020.ini"
IDR_OTC_Ex010	INI	"OTC_Ex010.ini"
IDR_OTC_Ex020	INI	"OTC_Ex020.ini"


IDR_ERROR_ENG   INI "TAIFEXErrorEN.ini"
IDR_ERROR_CHT   INI "TAIFEXErrorCH.ini"

IDR_FUTURES_PROD INI "FUTSymbol.ini"
IDR_OPTIONS_PROD INI "OPTSymbol.ini"

IDCHART_ROW_DATA  DATA "ChartRowData.dat"

