STRINGTABLE
BEGIN
   30000 "訊息接收成功"
   30001 "交易時間已結束"
   30002 "尚未開始接收委託或者盤前無此種委託"
   30003 "尚未開始接收報價"
   30004 "該商品處理中，暫時不接受委託"
   30005 "無此委託書編號"
   30006 "委託或報價已完全成交"
   30007 "原委託或報價已取消"
   30008 "停單"
   30009 "限單"
   30010 "此單已不在委託簿中,不得刪單、減量"
   30011 "FUNCTION-CODE錯誤"
   30012 "期貨商代號錯誤"
   30013 "分公司代號錯誤"
   30014 "投資人帳號錯誤"
   30015 "投資人身分碼錯誤"
   30017 "委託書或報價單編號重複"
   30018 "委託書或報價單編號錯誤"
   30020 "商品代號錯誤"
   30021 "超過該商品漲跌停價"
   30022 "委託數量錯誤"
   30023 "尚未開始接收詢價"
   30024 "買賣別錯誤"
   30025 "委託種類錯誤(ORDER-TYPE)"
   30026 "委託種類與價位不符"
   30027 "委託條件錯誤(ORDER-CONDITION)"
   30028 "開平倉碼錯誤(OC-CODE)"
   30029 "價格與基本跳動價位不符"
   30030 "商品已過期"
   30031 "期貨商代號、報價商品類別、造市者帳號不一致"
   30032 "減量成功,但變更量大於原委託量"
   30033 "買賣價不得超過該報價商品之價差限制"
   30034 "買價超過賣價"
   30035 "雙邊報價減量少於最低數量限制"
   30036 "單邊報價減量少於最低數量限制"
   30037 "詢價已存在不予接受"
   30038 "市價單不允許當日有效委託"
   30041 "交割年月錯誤"
   30042 "履約價格錯誤"
   30043 "結算會員錯誤"
   30051 "FOK單未成交,系統已刪除"
   30052 "IOC單已部份成交"
   30053 "IOC單未成交,系統已刪除"
   30055 "該委託或報價處理中"
   30061 "刪單減量時原買賣別不符"
   30062 "刪單減量時原商品別不符"
   30077 "無此商品契約"
   30089 "錯誤超過次數"
   30099 "重大錯誤"
END